.parametro-senha-botoes {
    display: flex;
    justify-content: center;
}

.parametro-senha__botao {
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}

.parametro-senha__texto {
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}

label {
    font-size: 20px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.barra {
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
}

.forca {
    height: 30px;
    position: relative;
    bottom: 30px;
}

.fraca {
    width: 25%;
    background-color: #E71B32;
}

.media {
    background-color: #FAF408;
    width: 50%;
}

.forte {
    background-color: #00FF85;
    width: 100%;
}

.parametro-senha-textos {
    display: flex;
    justify-content: space-between;
}


@media screen and (min-width: 768px) {
    .parametro-coluna__senha {
        flex-direction: row;
    }
}